<section class="profile-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="login-panel panel-info">
                    <div class="body"> 
                        <div class="row">
                            <div class="col-md-9 col-lg 9">
                                <table class="table user-info">
                                    <tbody>
                                        <tr>
                                            <th></th>
                                            <th>{{firstName}} {{lastName}}</th>
                                        </tr>
                                        <tr>
                                            <td>Skills:</td>
                                            <td>{{skills}}</td>
                                        </tr>
                                        <tr>
                                            <td>Experience:</td>
                                            <td>{{experience}}</td>
                                        </tr>
                                        <tr>
                                            <td>Field:</td>
                                            <td>{{field}}</td>
                                        </tr>
                                        <tr>
                                            <td>Matches:</td>
                                            <td>{{matches}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>