<section class="swipe-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="login-panel panel-info">
                    <div class="body">
                        <div class="row">
                            <div class="col-md-9 col-lg-9">
                              <form class="like" method="post" id="likeBtn">
                                <button type="submit" name="vote" value = "like" onsubmit="like()" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-thumbs-up"></span>
                                </button>
                              </form>
                                <table class="table job-post">
                                    <tr> 
                                        <th></th>
                                        <th>{{jobtitle}}</th>
                                    </tr>
                                    <tr>
                                        <td>Company</td>
                                        <td>{{company}}</td>
                                    </tr>
                                    <tr>
                                        <td>Location</td>
                                        <td>{{formattedLocation}}</td>
                                    </tr>
                                    <tr>
                                        <td>Job Info</td>
                                        <td>{{snippet}}</td>
                                    </tr>
                                    <tr>
                                        <td>Apply Here!</td>
                                        <td>{{url}}</td>
                                    </tr>
                                </table>
                              <form class="dislike" method="post" id="dislikeBtn">
                                <button type="submit" name="vote" value = "dislike" onsubmit="dislike()"class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-thumbs-down"></span>
                                </button>
                              </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>